input:invalid{
  background-color: #aaa;

}
input:valid {
  background-color: ivory;
  border: none;
  outline: 2px solid deepskyblue;
  border-radius: 5px;
  accent-color: gold;
}

.grande {
  color: #009;
  font-size: 25px;
  font-family: sans-serif;
}
